body {
    font-family: 'Open Sans', sans-serif;
}

header,
main,
footer {
    margin: 10px auto;
    max-width: 960px;
}

header#page_header,
footer {
    background-color: #bada55;
    border-radius: 15px;
}

header img {
    max-width: 150px;
    margin: 15px;
    border-radius: 0 15px 0 0;
    box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Press Start 2P', cursive;
    color: #5F3046;
}

h1 {
    text-align: center;
    padding: 40px 10px;
}

h2 {
    border-bottom: gray;
    border-style: solid;
    border-width: 0 0 1px 0;
}

main section {
    margin: 50px 15px;
}

footer {
    padding: 15px 0;
}

footer small {
    display: block;
    margin: 5px auto;
    text-align: center;
}