@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
    margin: 10px auto;
    max-width: 960px;
}

header#page_header,
footer {
    background-color: #bada55;
    border-radius: 15px;
}

header#page_header {
    padding-top: 15vw;
    border-top-right-radius: 50vw;
    border-top-left-radius: 50vw;
}

div#portrait_wrapper {
    height: 70vw;
    width: 70vw;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 15vw;
}

header div#portrait_wrapper img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    color: #393841;
}

h1 {
    text-align: center;
    padding: 40px 10px;
}

h2 {
    border-bottom: #987344;
    border-style: solid;
    border-width: 0 0 1px 0;
}

main section {
    margin: 50px 15px;
}

footer {
    padding: 15px 0;
}

footer small {
    display: block;
    margin: 5px auto;
    text-align: center;
}