/* Styles applied to large desktop screens. */
@media only screen and (min-width: 870px) {

    /************* Nav Styles */
    nav {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
        display: block;
        border-top: none;
    }

    .primary-nav li:first-child {
        display: none;
    }

    /* Forecast Section */
    #forecast_wrapper {
        margin: 0 50px 50px 50px;
    }

    /* Article Section */
    #recent-articles .featured {
        width: 350px;
    }

    /************************************** Gallery Page CSS */
    #gallery_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery_wrapper figure:hover {
        -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    }

    /************************************** Home Page CSS */
    h2#banner-title {
        top: 175px;
        left: 10px;
    
    }

    #town-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    #town-cards .town-wrapper {
        display: block;
    }

    .town-wrapper img {
        max-width: 100%;
    }

    /************************************** Town Page CSS */
    section#upcoming_events {
        grid-template-columns: 1fr 2fr;
    }

}