/* COLORS */
:root{
    --light-shades: #F0E8E7;  
    --light-accent: #8DAA9D;    
    --main-color: #F9A03F;  
    --dark-accent: #353A47; 
    --dark-shades: #111215;  
}



/************* Default Typography Styles */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--dark-accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: var(--dark-accent);
    text-align: center;
}

h2 {
    color: var(--dark-shades);
}

header #site-title a {
    color: var(--light-shades);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

header #site-title {
    margin-bottom: 0.8rem;
    margin-top: 0;
}

header #site-slogan {
    font-family: 'Caveat', cursive;
    color: var(--main-color);
    font-size: 0.8em;
}

/************* Aside/Notification Styles */
#event_notices {
    background-color: var(--light-accent);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#event_notices div {
    text-align: center;
    color: var(--light-shades);
    font-family: 'Caveat';
    font-size: 1.5rem;
    padding: 5px;
}

/************* Header Styles */
header {
    background-color: var(--dark-accent);
    text-align: center;
    padding: 5px;
}

header a {
    text-decoration: none;
}

.hcwrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hcwrapper #title-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.hcwrapper a img {
    max-width: 100%;
}

/************* Navigation Styles */
nav {
    background-color: var(--dark-shades);
    color: var(--light-shades);
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:first-child {
    display: block;
}

nav ul.menu-open li {
    display: block;
}


nav ul li a {
    text-decoration: none;
    color: var(--light-shades);
}

.primary-nav.menu-open li:first-child a span.open {
    font-size: xx-large;
}

.primary-nav.menu-open li:first-child a span.open,
.primary-nav li:first-child a span.closed {
    display: inline;
}

.primary-nav.menu-open li:first-child a span.closed,
.primary-nav li:first-child a span.open {
    display: none;
}

nav ul li a {
    padding: 10px;
    display: block;
    text-align: center;
}

/* Hamburger toggle */
.navigation li:first-child {
    display: block;
}

nav a:hover {
    background-color: var(--light-accent);
    color: var(--dark-shades);
}

.active {
    color: var(--light-accent);
}

/************* Main and General Styles */
#event_notices div,
header .hcwrapper,
nav ul,
main,
footer div {
    max-width: 870px;
    margin: 0 auto;
}

.box-shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .8);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .8);
}

.text-shadow {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.51);
}

.dark-accent {
    background-color: var(--dark-shades);
    color: var(--light-shades);
}

.dark-accent h2, .dark-accent a {
    color: var(--main-color);
}

.light-accent {
    background-color: var(--main-color);
    color: var(--dark-shades);
}

.light-accent h2,
.light-accent a {
    color: var(--dark-accent);
}

.white-accent {
    background-color: var(--light-shades);
    color: var(--dark-accent);
}

.white-accent h2, .white-accent a {
    color: var(--dark-shades);
}

.main-color,
.main-color h2 {
    background-color: var(--dark-accent);
    color: var(--light-shades);
}

.leaf-shape-right {
    padding: 25px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.leaf-shape-left {
    padding: 25px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
}

.grayscale-until-hover img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: filter 1s ease;
}

.grayscale-until-hover img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


/************* Footer Styles */
footer {
    background-color: var(--dark-shades);
    color: var(--light-shades);
    text-align: center;
    padding: 2rem;
}

footer a {
    color: var(--light-shades);
}

/************* Temporary Styles */

.content-block {
    margin-bottom: 0;
    padding: 1em;
}


/************* Town Page Styles */
/* aside Section */
#event_notices {
    display: none;
}

/* Hero Section */
#hero {
    padding: 0;
    position: relative;
}

#hero img {
    display: block;
    width: 100%;
    min-height: 40vh;
    object-fit: cover;
}

#weather_summary {
    position: absolute;
    left: 5vw;
    top: 3vw;
    background: radial-gradient(var(--light-shades), var(--light-accent));
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    opacity: .8;
}

#weather_summary h2 {
    color: var(--dark-shades);
    border-bottom: 2px solid rgba(0, 0, 0, .25);
    padding-bottom: 5px;
}

p.measurement {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    column-gap: 10px;
}

.measurement .label {
    text-align: right;
    font-style: italic;
}

.measurement .value {
    font-weight: 600;
}

/* Forecast Section */
#forecast {
    display: none;
}

#forecast_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 0 0 50px 0;
}

.day-of-week {
    background-color: var(--light-accent);
    color: var(--dark-accent);
    padding: .5em 0;
}

.weather {
    padding: .5em 0;
    background-color: var(--light-shades);
    color: var(--dark-shades);
}

.weather p {
    margin: 0.25em 0;
}

/* Article Section */
#recent-articles .featured {
    max-width: 100%;
    width: 100%;
    margin: 1em 0 0 0;
    order: 2;
}

#recent-articles .featured img {
    width: 100%;
}

#recent-articles {
    display: flex;
    flex-flow: column nowrap;
}

/* Upcoming Events Section */
#upcoming_events {
    display: grid;
    gap: 25px;
    padding: 25px 7vw;
}
#upcoming_events h2 {
    grid-column: 1/-1;
    text-align: center;
}

.icon {
    display: none;
}

.icon svg {
    max-width: 100%;
    fill: var(--light-accent);
}

#upcoming_event_list {
    line-height: 2rem;
}



/* Contact Info Section */

#map {
    display: none;
}

#contact {
    margin-bottom: 0;
}

main {
    padding-bottom: 0;
}

/************************************** Gallery Page CSS */

#gallery_wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-content: space-between;
    margin: 10px;
}

#gallery_wrapper figure {
    max-width: 400px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

#gallery_wrapper img {
    max-width: 100%;
}

#gallery_wrapper figcaption {
    padding: 1em;
    text-align: center;
}

/************************************** Storm Center Page CSS */

form {
    padding: 2vw;
    margin: 20px auto;
    width: 90vw;
    max-width: 350px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--dark-accent);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--dark-accent);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--dark-accent);
    font-size: .8rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px var(--dark-accent);
    border-radius: 4px;
    padding: .75rem;
    color: var(--dark-accent);
    width: 100%;
    background-color: var(--light-shades);
    box-sizing: border-box;
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: var(--dark-accent);
}

form input.submitBtn {
    display: block;
    border: none;
    background-color: var(--dark-accent);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    width: 100%;
    box-sizing: border-box;
}

form label.top input:invalid {
    border: #cc0000 dotted 2px;
    background-color: rgba(255, 0, 0, 0.1);
}

form label.top input:required:valid {
    border: #003b00 solid 1px;
    background-color: rgba(0, 255, 0, 0.1);
}

select#storm-region,
input[type="date"] {
    -webkit-appearance: none;
}

span#ratingvalue {
    color: var(--dark-accent);
    font-weight: bold;
    font-style: italic;
}

[type="checkbox"],
[type="radio"] {
    margin: 0 5px;
}

#storm-submission-success p {
    text-align: center;
}


/************************************** Home Page CSS */
#homepage-banner img {
    display: block;
    max-width: 100vw;
}

.homepage article div.article-content {
   padding: 10px;
}

.homepage article {
    position: relative;
 }

h2#banner-title {
    position: absolute;
    top: 5vw;
    left: 5vw;
    color: white;

}

#towns-section {
    padding: 10px;
}

#town-cards h3 {
    font-size: 1.5em;
    color: var(--dark-accent);
    text-shadow: 1px 1px 1px var(--dark-accent);
}

#town-cards a {
    text-decoration: none;
}

.town-motto {
    color: var(--dark-accent);
}

#town-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    text-align: center;
    margin: 25px auto;
}

#town-cards .town-wrapper {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.town-motto {
    margin-top: -.8em;
    font-family: 'Caveat', cursive;
    font-weight: 600;
}

.town-wrapper div,
.town-wrapper img {
    display: block;
    width: 100%;
}

#preston {
    order: 1;
}

#soda_springs {
    order: 2;
}

#fish_haven {
    order: 3;
}