@media only screen and (min-width: 640px) {
    header a {
        margin: 0 15px;
    }

    .hcwrapper {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #color-palette {
        grid-template-columns: repeat(5, 1fr);
    }
    .color-block {
        height: 50vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }
    
}