/* Styles applied to tablet=>larger screens. */
@media only screen and (min-width: 640px) {

    /************* Header Styles */
    header a {
        margin: 0 15px;
    }

    header p#site-title a {
        font-size: 2.2em;
    }

    .hcwrapper {
        display: flex;
        justify-content: center;
    }

    /************* Nav Styles */
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    /************* Home/Site Purpose Main Content Styles */
    #planning-doc-wrapper {
        grid-template-areas:
            "Name URL URL"
            "Logo URL URL"
            "Purpose Purpose Purpose";
            grid-template-columns: 1.25fr 1fr 1fr;
    }

    /************* Color Palette Main Content Styles */
    #color-palette {
        grid-template-columns: repeat(5, 1fr);
    }

    .color-block {
        height: 50vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
    }

    /************* Typography Main Content Styles */
    #typography {
        border-top: 0.25px solid #6A6482;
        border-left: 0.25px solid #6A6482;
    }

    #typography div span {
        border-bottom: 0.25px solid #6A6482;
        border-right: 0.25px solid #6A6482;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #typography div {
        border-radius: 0;
    }

    #table-header {
        display: grid;
    }

    .text-font:before,
    .text-size:before,
    .text-color:before {
        display: none;
    }

    .text-font,
    .text-size,
    .text-color {
        grid-template-columns: 1fr;
    }

    div.font-selection {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        margin-bottom: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .font-selection span {
        margin-bottom: 0px;
        text-align: center;
        display: block;
        height: 75px;
        width: 100%;
    }

}