@import url('https://fonts.googleapis.com/css?family=Caveat&7cOswald&7cRoboto&display=swap');

/* COLORS
Light Shades:       #F0E8E7 (Soft Peach)
Light Accent:       #4BA0CA (Shakespeare)
Main Brand Color:   #0A1085 (Deep Koamaru)
Dark Accent:        #6A6482 (Dolphin)
Dark Shades:        #111215 (Woodsmoke)
*/

/************* Default Typography Styles */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #4BA0CA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #0A1085;
}

h2 {
    color: #6A6482;
}

header p#site-title a,
#site-header .object-item {
    color: #F0E8E7;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
}

header p#site-slogan,
#site-subheader .object-item,
div#table-header {
    font-family: 'Caveat', cursive;
    color: #4BA0CA;
    font-size: 1.3em;
}

/************* Header Styles */
header {
    background-color: #0A1085;
    text-align: center;
    padding: 5px;
}

header a {
    text-decoration: none;
}

#site-header .object-item,
#site-subheader .object-item {
    background-color: #0A1085;
}

/************* Navigation Styles */
nav,
#nav-footer .object-item {
    background-color: #111215;
    color: #f0E8E7;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li,
nav ul li a {
    text-decoration: none;
    color: #F0E8E7;
}

nav ul li a {
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover,
#nav-selected .object-item {
    background-color: #4BA0CA;
    color: #111215;
}

.active,
#nav-active .object-item {
    color: #4BA0CA;
}

#nav-active .object-item {
    background-color: #111215;
}

/************* Main and General Styles */
header div.hcwrapper,
nav ul,
main,
footer div {
    max-width: 870px;
    margin: 0 auto;
}

main {
    padding: 1.5em;
}

.box-shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(106, 100, 130, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(106, 100, 130, 1);
    box-shadow: 0px 2px 5px 0px rgba(106, 100, 130, 1);
}

.dark-accent {
    background-color: #111215;
    color: #F0E8E7;
}

.dark-accent h2 {
    color: #4BA0CA;
}

.light-accent {
    background-color: #4BA0CA;
    color: #111215;
}

.light-accent h2 {
    color: #F0E8E7;
}

.white-accent {
    background-color: #F0E8E7;
    color: #6A6482;
}

.white-accent h2 {
    color: #111215;
}

.main-color,
.main-color h2 {
    background-color: #0A1085;
    color: #F0E8E7
}

.leaf-shape {
    padding: 25px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

/************* Site Purpose Main Content Styles */
#planning-doc-wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "Name"
        "URL"
        "Logo"
        "Purpose";
}

#planning-doc-wrapper section {
    display: grid;
    justify-items: center;
}

#site_name {
    grid-area: Name;
}

#site_url {
    grid-area: URL;
}

#site_logo {
    grid-area: Logo;
}

#site_purpose {
    grid-area: Purpose;
}

a.goog_dom img, .persona-wrapper img {
    max-width: 100%;
}

/************* Target Audience Main Content Styles */
.persona-wrapper small {
    display: block;
    text-align: center;
}
 
#personas-wrapper {
    display: grid;
    gap: 25px;
}

#personas-wrapper section {
    display: grid;
    justify-items: center;
}


/************* Color Scheme Main Content Styles */
#color-palette {
    display: grid;
}

.color-block {
    height: 10vh;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#light-shades .color-block {
    background-color: #F0E8E7;
    color: #111215;
}

#light-accent .color-block {
    background-color: #4BA0CA;
    color: #111215;
}

#main-color .color-block {
    background-color: #0A1085;
    color: #F0E8E7;
}

#dark-accent .color-block {
    background-color: #6A6482;
    color: #F0E8E7;
}

#dark-shades .color-block {
    background-color: #111215;
    color: #F0E8E7;
}

/************* Typography Main Content Styles */
#table-header {
    display: none;
}

#typography div {
    border-radius: 15px;
    overflow: hidden;
}

.font-selection {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(106, 100, 130, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(106, 100, 130, 1);
    box-shadow: 0px 2px 5px 0px rgba(106, 100, 130, 1);
}

.font-selection span {
    margin-bottom: 5px;
}

.object-item {
    height: 75px;
    width: 100%;
    border-bottom: 0.25px solid #6A6482;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-font:before {
    content: 'Font Family: ';
}

.text-size:before {
    content: 'Font Size: ';
}

.text-color:before {
    content: 'Font Color: ';
}

.text-font,
.text-size,
.text-color {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/************* Footer Styles */
footer {
    background-color: #111215;
    color: #F0E8E7;
    text-align: center;
    padding: 2rem;
    margin-top: 25px;
}

footer a {
    color: #F0E8E7;
}